.main {
  flex: 1;
  height: 89vh;
}
.main .bg-dark {
  background-color: #12002b;
}
.main .sign-in-content {
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: 0 auto;
  padding: 2rem;
  position: relative;
  top: 3rem;
}
.main .sign-in-content .sign-in-icon {
  font-size: 1rem;
}
.main .sign-in-content .form-group .input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}
.main .sign-in-content .form-group .input-wrapper input {
  padding: 5px;
  font-size: 1.2rem;
}
.main .sign-in-content .form-group .input-wrapper label {
  font-weight: bold;
}
.main .sign-in-content .form-group .input-remember {
  display: flex;
}
.main .sign-in-content .form-group .input-remember label {
  margin-left: 0.25rem;
}
.main .sign-in-content .form-group .sign-in-button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
}

.bg-dark {
  background-color: #12002b;
}