.editForm {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: auto;
  align-items: center;
  justify-content: center;
  align-content: center;
  .editName {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    label {
      display: none;
    }
    input {
      width: 20rem;
      height: 1rem;
      padding: 1rem;
      font-size: 1rem;
      font-weight: bold;
    }
  }
  .choice {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-color: #00bc77;
    button {
      width: 12rem;
      height: 2.5rem;
      border-color: #00bc77;
      background-color: #00bc77;
      color: #fff;
      font-size: 1rem;
      font-weight: bold;
    }
  }
}
